<h2>Choose the gear you wanna ride</h2>
<div class="container">
  
    <div class="small-container"> <img class="animate__animated animate__fadeIn"  />
    
    </div>
<div class="small-container"><img  routerLink="/splitboard-your-height"  class=" img animate__animated animate__fadeIn" src="../../assets/splitboards/delerium.png"  />
   
</div>
<div class="small-container"><img  routerLink="/step1" class=" img animate__animated animate__fadeIn" src="https://ogso-mountain-essentials.com/app/ski-photos/MALLORY.png"  />
   
</div>
   

</div>